.bg-dark {
    background-color: #000000 !important
}

.bg-card {
    background-color: rgb(0, 0, 0) !important
}

 h1, nav{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }


/* h3 , h6 {
    font-style: normal !important;
}

footer, p {
    font-family: American Typewriter, serif
}
h5{
    font-family: Impact, fantasy
}  */




